<!DOCTYPE html>
<html>
<title>Authentification</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  
     
        <div class="w3-section">
          <label><b>Username</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="usrname" required>
          <label><b>Password</b></label>
          <input class="w3-input w3-border" type="text" placeholder="Enter Password" name="psw" required>
          <button class="w3-button w3-block  w3-section w3-padding" style="color: white; background-color: #b81c23" type="submit">Login</button>
          <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me
        </div>
       <div class="form-group">
                   
       
            
                   <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          
                    <a href="{{ 'bts' }}" type="button" class="w3-button w3-red">Return</a>
                    

                    <a href="{{ 'registration' }}" type="button" class="w3-button w3-red">create account</a>
                    </di>
        <span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>
      </div>

     </form>
  
</div>
            
</body>
</html>